


.modal.show .modal-dialog {
	transform: translate(0, 20%);
}


.modal-footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px;
	border-top: 1px solid #e9ecef;
} 

.button-custom-jp {
	margin-top: 5px;
}
.form-group-jp {
	margin-bottom: 0px;
}
.input-jp {
	margin: 0 auto;
}

.bg-modal-jp {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: flex-start;
}
.modal-content-jp {
	width: 500px;
	height: 300px;
	background-color: white;
	border-radius: 4px;
	text-align: center;
	padding: 15px;
	position: relative;
}
input {
	width: 50%;
	display: block;
	margin: 15px auto;
}
.close-jp {
	position: absolute;
	top:0;
	right: 15px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}

.swiper-replacement {
	background: url("../images/slider-1-1920x900.jpg") no-repeat scroll right center;
	/* background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/slider-1-1920x900.jpg") no-repeat scroll right center; */
	background-size: cover;
}

.container-jp1 {
	margin-right:0;
	margin-left:0;
}

.iframe-container{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; 
	height: 0;
  }
  .iframe-container iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
  }


.swiper-slide {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-shrink: 0;
	width: 100%;
	min-height: calc(100vh - 50px);
	padding: 50px 0;
	background-position: center center;
	background-repeat: no-repeat;
	white-space: nowrap;
}
.instagram-item {
	display: block;
	position: relative;
	padding-bottom: 70%;
	overflow: hidden;
	border-radius: 2px;
}
.swiper-slider-2 .swiper-slide {
	min-height: 300px;
	padding: 30px 0 20px;
	background-position: right !important;
}
@media (min-width: 768px) {
	.swiper-slider-2 .swiper-slide {
		min-height: 300px;
		padding: 50px 50px 10px;
		background-position: 50% 50% !important;
    }
}
@media (min-width: 992px) {
	.swiper-slider-2 .swiper-slide {
		min-height: 700px;
		padding: 120px 50px 220px 10px;
	}
	.swiper-slider-2 .swiper-slide:after {
		display: none;
	}
}
@media (min-width: 1200px) {
	.swiper-slider-2 .swiper-slide {
		min-height: 100vh;
		padding: 120px 130px 20px 130px;
	}
	.swiper-slider-2 .swiper-meta {
		padding: 55px 67px;
	}
	.swiper-slider-2 * + .request {
		margin-top: 9px;
	}
	.swiper-slider-2 * + .tel {
		margin-top: 20px;
	}
}